<html>
	<head>
		<link rel="stylesheet" href="CSS/div-voted.css">
	</head>
	
	<div id="div-voted">
		<div>
			<div class="div-user-perfil-information">
				<div class="div-img-perfil">
					<img src="medias/JPG/dafult.jpg">
				</div>
				<div class="div-information">
					<div class="div-nick-vote">
						<p>01234567890123456789</p>
					</div>
					<div class="div-response">
						<p>

						</p>
					</div>
				</div>

			</div>
			<div class="div-buttons-vote">
				<button id="voted">
					Votar
				</button>
				<button id="canceled">
					Cancelar
				</button>
			</div>
		</div>
	</div>

	
</html>