<html>
	
		<footer class="footer-distributed">

			<div class="footer-right">


				<a href="https://pt.memedroid.com/user/view/Ttlegend19" target="_blank" title="Ttlegend19">
					
					
				</a>
				<a href="https://pt.memedroid.com/user/view/denadaamigo" target="_blank" title="denadaamigo">
					
				</a>
				<a href="https://pt.memedroid.com" target="_blank" title="Memedroid">
					
				</a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="/">Votação</a>

					<a href="/rules">Regras</a>

					<a href="https://pt.memedroid.com/chat?room=Memedroid-Awards" target="_blank">Administração</a>
					
					<a href="https://pt.memedroid.com/memes/latest" target="_blank">Memedroid</a>

				</p>

				<p>Memedroid awards 2023 </p>
			</div>

		</footer>
	
</html>