<html>
	<head>
		<link rel="stylesheet" href="CSS/modal-login.css">
		<script type="module" src="../JAVASCRIPT/modal-login.js" defer></script>
	</head>
	
	<input type="checkbox" id="open-modal-login">
	<div id="modal-login">
		<div class="div-login">
			<div class="div-login-header">
				<p>Login</p>
				<label class="div-button-close" for="open-modal-login">

				</label>
			</div>
			<div class="div-login-main">
				<img class="img-icon-memedroid-logo" src="/medias/Memedroid_icon.webp">
				<div class="dialog-box">
					<p>Faça seu login abaixo</p>
				</div>
				<div class="div-inputs">
					<label class="div-input">
						<img src="/medias/PNG/icone_login.png">
						<input id="username" autocomplete="off">
					</label>

					<label class="div-input">
						<img src="/medias/PNG/icone_password.png">
						<input id="password" autocomplete="off" type="password">
					</label>
					<button class="button-login" id="button-login">Logar</button>

				</div>
				<div class="div-contacts">
					<a href="https://pt.memedroid.com/chat?room=Memedroid-Awards" target="_blank">Clique aqui caso
						esteja com problema em efeturar o login</a>
				</div>
			</div>
		</div>
	</div>
	
</html>